.about {
  &--title {
    @include pageTitle(-12.5rem, 12.5rem);
  }

  &--paragraph {
    @include pageBody;

    background-color: $cream;
    padding: 3.5rem 8rem 3.5rem 2.75rem;
    box-shadow: 0 0.43rem 1rem 0 rgba(0, 0, 0, 0.26);

    &-1 {
      grid-row: 1/4;
      grid-column: 1/5;
    }

    &-2 {
      grid-row: 4/7;
      grid-column: 1/5;
    }

    &-3 {
      grid-row: 1/7;
      grid-column: 5/7;
    }

    &--text {
      text-transform: capitalize;
      line-height: 1.6;
    }

    &__wrapper {
      display: grid;
      column-gap: 1.75rem;
      row-gap: 5rem;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      padding: 2rem 0;
    }

    @media screen and (max-width: 1500px) {
      padding: 3rem 3.5rem 3rem 2.5rem;
    }
    @media screen and (max-width: 1400px) {
      &-1 {
        grid-row: 1/4;
        grid-column: 1/4;
      }

      &-2 {
        grid-row: 1/4;
        grid-column: 4/7;
      }

      &-3 {
        grid-row: 4/6;
        grid-column: 1/7;
      }

      &__wrapper {
        grid-template-rows: repeat(5, 1fr);
      }
    }
    @media screen and (max-width: 1000px) {
      &-1 {
        grid-row: 1/3;
        grid-column: 1/7;
      }

      &-2 {
        grid-row: 3/5;
        grid-column: 1/7;
      }

      &-3 {
        grid-row: 5/7;
        grid-column: 1/7;
      }

      &__wrapper {
        grid-template-rows: repeat(6, 1fr);
      }
    }
  }

  &__wrapper {
    @include pageWrapper;

    padding: 3rem 4.75rem 2.75rem;

    @media screen and (max-width: 1500px) {
      padding: 1.25rem 4.15rem 1rem;
    }
  }

  @media screen and (max-width: 1650px) {
    transform: translateX(-5vw);
  }
}
