.nav {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &--box {
        position: relative;
        background-color: $cream;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2000;
        box-shadow: 0 0.83rem 2rem 0 rgba(0, 0, 0, 0.2);
        padding: 3rem 7.7rem 2.75rem;
    }

    &--link {
        font-size: 3.1rem;
        text-transform: uppercase;
        color: #111;
        text-decoration: none;
        padding: 1rem 2rem;
        margin: 1.75rem 0;
    }
}