@import "./util/variables";
@import "./util/svg";
@import "./util/cursor";
@import "./sections/landing";
@import "./sections/nav";
@import "./sections/about";
@import "./sections/skills";
@import "./sections/projects";

@import url("https://use.typekit.net/jbp2qlq.css");


html,
body {
  scroll-behavior: smooth;
  padding: 0;
  font-family: Urbane-Medium, Urbane, Helvetica Neue, sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  cursor: none;
}

.app {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: $cream;
    padding-top: 5vh;
}

.container {
    position: relative;
    width: 100vw;
}

.page {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 20vw;
    max-width: 25rem;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 10000;
}

.menu--toggle {
    position: fixed;
    top: 50%;
    right: 40px;
    transform: translate(0,-50%);


    a {
        color: #111;
        font-size: 3.66rem;
        text-transform: uppercase;
    }
}