@import "./util/svg";
@import "./util/cursor";
@import "./sections/landing";



@import url("https://use.typekit.net/jbp2qlq.css");


html,
body {
  scroll-behavior: smooth;
  padding: 0;
  font-family: Urbane-Medium, Urbane, Helvetica Neue, sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  cursor: none;
}

.container {
    position: relative;
    width: 100vw;
}

.logo {
    width: 20vw;
    max-width: 25rem;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 100;
}