.cursor {
  position: fixed;
  z-index: 10000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  //   border: solid 2px rgb(33, 4, 136);
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  left: 0;
  top: 0;
  transition: border-radius 0.2s ease-in-out;
  mix-blend-mode: soft-light;

  display: flex;
  justify-content: center;
  align-items: center;

  &--inner {
    position: relative;
    transform: scale(1);
    width: 32.5px;
    height: 32.5px;
    background-color: #111;
    border-radius: 50%;
    transition: transform ease-in-out 0.2s;
  }
}

.cursor-2 {
  left: 0;
  top: 0;
  position: fixed;
  z-index: 2000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 10px;
  height: 200vh;
  background-color: rgb(175, 40, 40);
  mix-blend-mode: soft-light;
}

.cursor-3 {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    height: 5px;
    width: 200vw;
    background-color: rgb(21, 4, 85);
    mix-blend-mode: color-dodge;
  }
