.cursor {
  position: fixed;
  z-index: 10000;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #111;  
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  left: 0;
  top: 0;
  transition: background-color 0.2s ease-in-out;
  mix-blend-mode: color-burn;

  &--inner {
      z-index: -1;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%) scale(.2);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      border: #111 3px solid;
      background-color: transparent;
      transition: .1s all ease-out;
      mix-blend-mode: difference;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 40px; height: 40px;
    border-radius: 50%;
    border: 2px #111 solid;
    animation: pulseInOut 1s cubic-bezier(0.85, 0, 0.15, 1) infinite alternate;
  }
}

@keyframes pulseInOut {
  from {
    transform:  translate(-50%, -50%) scale(1);
  }

  to {
    transform:  translate(-50%, -50%) scale(1.35);
  }
}

.cursor-2 {
  left: 0;
  top: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #111;
  mix-blend-mode: difference;
  background-color: #111;
  transition: .2s background-color ease-out;

}

