$cream: #f5eff3;

@mixin pageWrapper() {
    position: relative;
    background-color: $cream;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 2000;
    margin-top: 12rem;
    margin-bottom: 12rem;
    box-shadow: 0 0.83rem 1.3rem 0 rgba(0, 0, 0, 0.1);

}

@mixin pageTitle($top, $left, $mode: difference) {
  position: absolute;
  top: $top;
  left: $left;
  color: #333;
  font-size: 17.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  mix-blend-mode: $mode;

  @media screen and (max-width: 1500px) {
    font-size: 15rem;
  }
}

@mixin pageBody() {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--title {
    font-size: 3.45rem;
    padding-bottom: 3rem;
    font-family: temeraire, serif;
    font-weight: 900;
    font-style: normal;
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &--text,
  &--item {
    font-size: 2.2rem;
    padding: 0 1.5rem 3rem;
  }

  @media screen and (max-width: 1900px) {
    &--text,
    &--item {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 1500px) {
    &--title {
      font-size: 3.15rem;
      padding-bottom: 1.75rem;
    }

    &--text,
    &--item {
      font-size: 1.8rem;
    }

    &--item {
      padding: 0 1.5rem 2.1rem;
    }
  }

}
